{% set intro = g.site_intro_text %}

<div class="module-content box">
  <header>
    {% if intro %}
      {{ h.render_markdown(intro) }}
    {% else %}
      <h1 class="page-heading">{{ _("The Power of Community") }}</h1>
      <p>
        {% trans %}
        A federated data catalog for community-managed open data portals. Find out more about this project on <a href="https://github.com/mheadd/communitydata.io">GitHub</a>.
        {% endtrans %}
      </p>
      <p>
        {% trans %}
        If you or your organization manage a community-based open data portal and want to have your data sets listed here, open a new issue <a href="https://github.com/mheadd/communitydata.io/issues">here</a>.
        {% endtrans %}
      </p>
    {% endif %}
  </header>
</div>
